[submodule "TwUITests/expecta"]
	path = TwUITests/expecta
	url = https://github.com/cntrump/expecta.git
[submodule "TwUITests/specta"]
	path = TwUITests/specta
	url = https://github.com/cntrump/specta.git
